.seeAllOrders{
    width:95%;
    height:20%;
    background-color: white;
    padding:3%!important;
}
.adminOrderBtns{
    width: 95%;
}
#orderCheck{
    width:20%;
}
@media only screen and (max-width: 1224px){
    .btnAdminOrders {
        width: 40% !important;
    }
}
@media only screen and (max-width: 1224px){
    .btnAdminOrders {
        width: 46% !important;
    }
}
@media only screen and (max-width: 654px){
    .adminOrderBtns{
        display: flex!important;
        flex-direction: column!important;
    }
    .btnAdminOrders {
        margin-bottom: 5% !important;
        width:100% !important;
    }
}
@media only screen and (max-width: 960px) {
    .myTable th, .myTable td{
        font-size: 10px;
    }
}
@media only screen and (max-width: 506px) {
    .myTable th, .myTable td{
        font-size: 7px;
    }
}
@media only screen and (max-width: 379px) {
    .myTable th, .myTable td{
        font-size: 5px;
    }
}