.velkommenDiv{
    background-color: #dedede;
    margin: 8px!important;
    border: solid 1px black;
    padding: 26px 0px 80px 81px;
}
.velkommenP{
    margin-bottom: 2.5em;
    font-size: 25px;
}
.btnOptions a{
    padding: 9px 38px;
    margin-right: 72px;
    font-size: 20px;
}