.loginInput, .loginFormText{
    font-family: "helvetica Neue", "sans-serif";
    font-size: 16px;
    padding:20px;
    margin:0!important;
}
.loginInput{
    width:50%!important;
}
.loginEmail{
    padding: 20px 31px 20px 31px;
}